<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>

<body>

<h2>Login Here</h2>

<form id = "login_form" action="/login" method="post">
  <label for="loginname">login-name</label><br>
  <input type="text" placeholder="Enter Login-name" id="loginname" name="loginname" value="" required><br>

  <label for="password">login-password</label><br>
  <input type="password" placeholder="Enter Login-password" id="password" name="loginpassword" value="" required><br><br>

  <button type="submit">Login</button>
</form>

</body>
</html>